h3 {
    display: inline-block;
}

.main_header {
    position: relative;
    margin: 0 70px;

}


.main_links {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 0;
}

header {
    background-color: rgb(8, 8, 138);
    color: white;
    width: 100%;
}

a {
    margin: 10px;
    color: white;
}